*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-color: blue; */

}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
nav li, menu li{
    display: inline;
}
body{
    margin-bottom: 100px;
}
.contenido{
    margin-left: 100px;
    margin-right: 100px;
}
.lista-nav{
    height: 30px;
    display: flex;
    padding: 5px 0;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    /* margin-top: 10px; */
    background-color: aquamarine;
}
.lista-nav div li{
    margin-left: 10px;
}
.lista-nav img{
    margin-bottom: -3px;
    width: 20px;
}
.logo_cabecera{
    border: 1px solid;
    height: 150px;
    display: flex;
}
.fondo-cab{
    width: 100%;
}
.contenido_logo{
    position:absolute;
    z-index: 1;
    display: flex;
}
.logo_cabecera .mundo{
    width: 200px;
    height: 150px;
}
.lista-menu{
    margin-top: 10px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: gray; */
    border-top: 1px solid;
    border-bottom: 1px solid;
    justify-content: space-around;
}
.lista-menu li{
    display: block;
    /* height: 40px; */
    text-align: center;
    padding: 10px 60px;
    border-right: 1px solid;
}
section{
    margin-top: 10px;
    /*border: 1px solid;*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* justify-content: center; */
}
footer{
    margin-top: 50px;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aqua;
}
footer div{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
footer div img{
    align-items: center;
    width: 100px;
}
